<div class="body container my-4">
  <h2 class="text-center mb-4">Body Component</h2>

  <!-- <app-databinding></app-databinding> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-products></app-products> -->
  <app-employeeassign-list></app-employeeassign-list>
 <!-- <app-comment-list></app-comment-list> -->
  <!-- <app-demo2></app-demo2> 
  <app-employee-crud></app-employee-crud> -->
  <!-- <app-pipes-demo></app-pipes-demo> -->
  <!-- <app-pipes-showcase></app-pipes-showcase> -->
   <!-- <app-math1-demo></app-math1-demo>
   <hr/>
   <app-math2-demo></app-math2-demo> -->
   <!-- <app-http-demo1></app-http-demo1> -->
</div>



